<% include ./partials/header %>

<br>
<form class="ui form" action="/register" method="POST">
    <div class="field">
        <label>Username</label>
        <input type="text" placeholder="Name" name="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" placeholder="Image" name="password">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>

<% include ./partials/footer %>
