<<<<<<< HEAD
<% include partials/header %>

<br>
<h1 style="text-align: center">Sign up</h1>
<form class="ui form" action="/register" method="POST">
    <div class="field">
        <label>Username</label>
        <input type="text" name="name">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password">
=======
<% include ./partials/header %>

<br>
<form class="ui form" action="/register" method="POST">
    <div class="field">
        <label>Username</label>
        <input type="text" placeholder="Name" name="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="text" placeholder="Image" name="password">
>>>>>>> auth-test-branch
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>

<<<<<<< HEAD
<% include partials/footer %>
=======
<% include ./partials/footer %>
>>>>>>> auth-test-branch
